In [11]:
import camelot.io as camelot
import pandas as pd
import numpy as np

tables = camelot.read_pdf(
    r"C:/Users/kapil/Downloads/central_line_.pdf",
    flavor='stream',
    pages="all",
	#_______________________________
    row_tol=2,               # Tighten row detection
    edge_tol=750,
	#_______________________________
	table_areas=["50,800,800,0"]               #["50,700,550,100"] ## Left, Top, Right, Bottom
)
merged_df = pd.DataFrame()
count = 0
for i in tables:
    print(i)
    count += 1
    df = i.df
    num=df.index[df.iloc[:, 0] == "CSMT"][0] #Get the index of "CSMT"
    header_rows = df.loc[1:num-1]
    new_header = header_rows.apply(lambda x: '_'.join(x.astype(str)), axis=0)
    df.columns = new_header
    df = df.iloc[num:]
    df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
    df.reset_index(drop=True, inplace=True)
    df.to_csv(f"../data/raw/extracted_csv_file/Central_Line_{count}.csv")
    melted_df = pd.melt(df, id_vars=df.columns[0], var_name="Train_ID", value_name="Arrival_Time")
    melted_df.replace(['',"…","`"], np.nan, inplace=True)
    melted_df.dropna(inplace=True)
    melted_df["Arrival_Time"] =pd.to_datetime(melted_df["Arrival_Time"], format="%H:%M").dt.time
    melted_df["Station_Order"]=melted_df.groupby("Train_ID").cumcount() + 1  # creating station sequence
    melted_df.to_csv(f"../data/processed/cleaned_csv_file/Central_Line_{count}.csv")
    #--------------
    merged_df = pd.concat([merged_df,melted_df], ignore_index=True)

<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(55, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 27)>
<Table shape=(56, 27)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>

C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)

<Table shape=(56, 26)>
<Table shape=(56, 26)>
<Table shape=(56, 27)>
<Table shape=(56, 26)>
<Table shape=(56, 26)>

C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)
C:\Users\kapil\AppData\Local\Temp\ipykernel_15268\2763393943.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={df.columns[0]: 'Station_Name'}, inplace=True)

In [12]:
merged_df

        Station_Name      Train_ID Arrival_Time  Station_Order
0               CSMT   96301_A 1__     00:02:00              1
1             Masjid   96301_A 1__     00:05:00              2
2     Sandhurst Road   96301_A 1__     00:07:00              3
3            Byculla   96301_A 1__     00:10:00              4
4        Chinchpokli   96301_A 1__     00:12:00              5
...              ...           ...          ...            ...
8510           Parel  97651_C 51__     00:13:00              7
8511           Dadar  97651_C 51__     00:16:00              8
8512         Matunga  97651_C 51__     00:19:00              9
8513            Sion  97651_C 51__     00:22:00             10
8514           Kurla  97651_C 51__     00:27:00             11

[8515 rows x 4 columns]

## Legends
	$ : 3 Cars For Ladies
	X and + : Will Not run on Sundays and Holidays
	"#" 	: Will run with 9 Car rake in lieu of 12 Car rake on Sundays
	L SPL 	: Ladies Special

In [14]:
merged_df.Train_ID.unique()

array(['96301_A 1__', '97601_C 1__', '96401_N 1__', '96101_S 1__',
       '97301_T 1__', '96001_SKP 1__', '96501_KAN 1__', '96103_TS 1__',
       '97001_TK 1__', '96601_CTL 1__', '96403_N 3__', '97201_TDL 1__',
       '95001_KP 1__', '97303_CT 1__', '96105_TS 3__', '96603_TTL 1__',
       '96107_S 3__', '96503_TAN 1__', '96201_CBL 1__', '97003_K 1__X',
       '97005_CK 1__X', '96405_N 5__', '96505_AN 1__', '96303_A 3__',
       '95701_K 3_AC_', '97007_TK 3__', '96605_TL 1__', '97009_CK 3_AC_X',
       '96305_A 5__', '95101_S 5__', '97011_CK 5__X', '96607_TL 3__',
       '97013_CK 7__X', '96507_AN 3__', '95703_K 5_15 C_X',
       '96003_SKP 3__', '95103_S 7__', '97015_CK 9__', '97017_PK 1__',
       '96609_TL 5__', '96307_CA 1__', '97203_DL 1__', '95201_BL 1__',
       '97019_PK 3__X', '96611_TL 7_AC_X', '97205_CDL 1__',
       '96509_KAN 3__', '97021_K 7__', '97305_T 3__X', '96309_A 7__',
       '95105_S 9__', '97023_CK 11__', '95401_N 7__', '96613_TL 9__',
       '97307_T 5__X', '95203_BL 3__', '97025_K 9__', '97309_T 7__',
       '97207_DL 3__', '95705_K 11_15 C_X', '97027_K 13__',
       '95501_AN 5__', '97311_T 9__X', '95003_KP 3__', '97029_K 15__',
       '97209_DL 5__', '96511_AN 7__', '95707_K 17_AC_', '97313_T 11__',
       '95205_BL 5__', '97031_PK 5__X', '97033_K 19__', '97315_T 13__',
       '95901_T 15_AC_X', '96615_TTL 3__', '97035_PK 7__', '97317_T 17__',
       '97037_K 21__', '95107_S 11__', '97319_T 19__X', '97211_DL 7__',
       '96617_TTL 5__', '97321_PT 1__X', '95301_DA 1__', '97323_T 21__',
       '97603_C 3__X', '95403_N 9__', '95709_K 23_15 C_X',
       '97039_CK 13__X', '97501_G 1__', '97605_C 5__', '95303_A 9__',
       '97325_T 23__X', '95903_T 25__X', '97041_K 25_AC_X',
       '95207_BL 7__', '97607_C 7__', '95711_K 27_AC_X', '96005_SKP 5__',
       '95109_S 13__', '97327_PT 3_', '97329_T 27_', '95905_T 29_',
       '97043_K 29_', '95209_BL 9_', '97503_G 3_X', '97609_C 9_X',
       '95601_TL 11_', '95305_A 11_', '97045_TK 5_', '97213_DL 9_',
       '97331_T 31_', '95503_AN 9_', '95211_BL 11_', '97611_C 11_X',
       '97047_K 31_', '95603_TL 13_', '95111_S 15_', '97333_T 33_X',
       '97215_PDL1_', '97049_K 33_', '95405_N 11_', '97051_K 35_',
       '95605_TL 15_', '97335_T 35_X', '95907_T 37_15 C_X',
       '97613_C 13__X', '95213_BL 13__', '97337_T 39__',
       '95307_A 13_AC_X', '96619_TL 17__', '97505_G 5__', '95113_S 17__',
       '96007_SKP 7__', '97615_C 15__', '95713_K 37_AC_', '97053_K 39__',
       '95215_BL 15__', '97339_T 41__', '95309_A 15__', '97055_K 41__',
       '95407_N 13__', '97341_T 43__X', '95217_BL 17__',
       '97217_DL 11_AC_X', '95311_A 17__', '97057_PK 9__',
       '95715_DK 1_15 C_X', '97343_T 45__X', '97617_C 17__X',
       '97219_DL 13__', '95115_S 19__', '97345_T 47__X', '95219_BL 19__',
       '97619_C 19__X', '97059_K 43__', '95607_TL 19__', '97347_T 49__X',
       '95313_A 19__', '95221_DBL 1_AC_X', '96513_TAN 3__',
       '97061_PK 11__', '97349_T 51__', '95609_TL 21__', '97621_C 21__',
       '96621_TL 23__', '97351_T 53__', '97623_C 23__', '95117_S 21__',
       '96009_SKP 9__', '96109_TS 5__', '97353_T 55__', '95315_A 21__',
       '97063_K 45__', '96623_TL 25__', '97065_PK 13__', '97221_DL 15__',
       '97067_CK 15__', '95801_DL 17_15 C_XX', '97355_T 57__X',
       '96311_A 23__', '95409_N 15__', '97357_T 59__X', '95223_BL 21__',
       '97069_K 47__X', '96625_TL 27__', '96313_A 25_AC_X',
       '97223_PDL 3__', '97071_K 49__', '95225_DBL 3_AC_',
       '96203_TBL 1__', '97073_K 51__', '97225_PDL5__', '95005_KP 5__',
       '97359_T 61__X', '95717_K 53__', '97075_K 55__', '95411_N 17__',
       '97077_K 57__X', '97227_DL 19__', '96627_TL 29__', '96315_A 27__',
       '97079_K 59__', '97081_PK 15__', '95719_K 61_15 C_X',
       '95317_DA 3__', '97361_T 63__X', '97083_K 63__', '96629_TTL 7__',
       '97363_T 65_AC_X', '96407_N 19__', '95505_AN 11__',
       '96317_A 29_AC_X', '95119_S 23__', '95227_BL 23__', '97229_PDL7__',
       '97085_K 65__', '96515_AN 13__', '97365_T 67__', '95121_S 25__',
       '96011_SKP 11__', '97087_TK 7__', '96631_TL 31__', '97089_K 67__',
       '95229_BL 25__', '96205_BL 27__', '97231_DL 21__', '97367_T 69__X',
       '95909_DT 1_AC_X', '97091_CK 17__', '96633_TL 33__',
       '97093_K 69__', '96207_BL 29__', '95413_N 21__', '97095_K 71__',
       '97097_K 73__X', '97369_T 71__X', '96319_A 31__', '97099_K 75__',
       '95507_AN 15__', '95123_S 27__', '97101_PK 17__', '96409_N 23__',
       '96321_A 33__', '97103_K 77__', '97371_T 73__X', '95231_BL 31__',
       '96209_TBL 3__', '97105_PK 19__', '96635_TL 35__', '95007_KP 7__',
       '97233_DL 23__', '95721_K 79_15 C_X', '95611_DTL 1_AC_',
       '97107_K 81__', '97235_DL 25_AC_X', '97373_T 75__',
       '96517_AN 17__', '95125_S 29__', '97109_PK 21__', '95233_BL 33__',
       '96637_TL 37__', '97237_DL 27__', '97375_PT 5__X', '96323_TA 1__',
       '97113_K 83__', '97239_DL 29_AC_X', '95319_A 35__', '97115_K 85__',
       '97377_T 77__X', '95723_K 87_AC_X', '96325_A 37__',
       '95509_AN 19__', '97379_T 79__', '96639_TL 39__', '95127_S 31__',
       '97117_CK 19__', '97119_TK 9__', '97381_T 81__X', '97241_DL 31__',
       '97383_T 83__X', '97625_C 25__X', '97121_CK 21__', '95235_BL 35__',
       '97123_K 89__', '95415_N 25__', '97385_T 85__', '95321_A 39_AC_X',
       '96111_TS 7__', '97243_PDL9__', '97125_CK 23__', '97127_K 91__',
       '97387_T 87__', '97245_DL 33__', '97389_T 89__X',
       '95725_DK 3_15 C_X', '97129_K 93__', '95511_AN 21__',
       '95237_BL 37__', '97131_PK 23__', '97391_T 91__X', '95727_K 95_$_',
       '97627_C 27__X', '97133_CK 25__', '95613_TL 41__', '97393_T 93__',
       '95009_KP 9__', '97135_K 97__', '95803_DL 35__', '95323_A 41__',
       '97247_PDL11__X', '97629_C 29__', '95513_AN 23__', '95729_DK 5__',
       '97137_CK 27__X', '97395_T 95__X', '97139_K 99__', '95615_TL 43__',
       '96211_TBL 5__', '97249_DL 37__', '95239_BL 39__',
       '95731_K 101_$_', '97141_PK 25__', '97397_T 97__X', '95325_A 43__',
       '97143_K 103_L SPL_X', '95911_T 99_AC_', '97145_K 105__',
       '97251_DL 39_AC_X', '95129_S 33__', '96013_SKP 13__',
       '97631_C 31__X', '95327_A 45__', '97147_TK 11__', '97399_T 101__X',
       '97149_PK 27_AC_X', '95417_N 27__', '95515_AN 25__',
       '96327_A 47__', '95733_K 107_AC_X', '97401_T 103__X',
       '95617_TL 45__', '97253_DL 41__', '95241_BL 41__',
       '97403_T 105__X', '95735_K 109__', '97633_C 33__X', '95131_S 35__',
       '95619_TL 47__', '95737_DK 7__', '96213_TBL 7__', '97151_PK 29__X',
       '97405_T 107__', '95913_T 109__X', '97153_K 111__',
       '97255_DL 43__X', '96113_TS 9__', '96015_SKP 15__', '97407_PT 7__',
       '95243_BL 43__', '97155_K 113__', '95419_N 29__', '97157_K 115__',
       '97409_T 111__', '95245_BL 45__', '95329_DA 5_AC_X',
       '95739_K 117_15 C_X', '95621_TL 49__', '97159_CK 29__',
       '97257_PDL13__', '96329_TA 3__', '96215_BL 47__', '97161_K 119__',
       '95331_A 49__', '97411_PT 9__X', '97413_T 113__X', '95623_TL 51__',
       '95133_S 37__', '96217_BL 49__', '97415_T 115__', '95517_AN 27__',
       '97163_K 121_AC_', '96641_TL 53__', '97417_T 117__X',
       '96331_A 51__', '97165_PK 31__', '97259_DL 45__X', '97167_K 123__',
       '95915_DT 3__', '96643_TL 55__', '97419_T 119__X', '96219_TBL 9__',
       '96333_A 53__', '97635_C 35__', '97169_PK 33__', '95011_KP 11__',
       '95421_N 31__', '95333_A 55__', '97261_DL 47__X', '97421_T 121__',
       '96519_AN 29__', '97171_K 125__X', '97423_T 123__',
       '96221_BL 51__', '97263_DL 49__', '97173_K 127_AC_X',
       '96645_TL 57__', '95135_S 39__', '97175_PK 35_AC_X',
       '96223_BL 53__', '96411_N 33__', '97637_C 37__X', '96335_A 57__',
       '95741_K 129_AC_X', '96225_BL 55__', '97177_PK 37__',
       '97179_K 131__', '97181_CK 31__', '97639_C 39__X', '95013_KP 13__',
       '96647_TL 59__', '95743_DK 9_15 C_X', '97183_K 133__',
       '97425_T 125__', '97185_K 135__X', '97427_T 127_AC_X',
       '97187_K 137__', '95247_BL 57__', '96019_KP 15__', '97641_C 41__X',
       '96337_PA 1__', '97429_T 129__', '96227_BL 59__', '97431_T 131__',
       '95423_N 35__', '96649_TL 61__', '97643_C 43__X', '96339_PA 3__',
       '97433_T 133__', '97645_C 45__', '96341_A 59__', '97435_T 135_AC_',
       '96651_TL 63__', '95015_KP 17__', '97647_C 47__X', '96115_S 41__',
       '97649_C 49__X', '97437_T 137__', '96653_TL 65__', '97439_T 139__',
       '96229_BL 61__', '97441_T 141__', '97651_C 51__'], dtype=object)

In [17]:
merged_df[merged_df.Train_ID == "95423_N 35__"]

     Station_Name      Train_ID Arrival_Time  Station_Order
8120         CSMT  95423_N 35__     22:47:00              1
8121      Byculla  95423_N 35__     22:55:00              2
8122        Dadar  95423_N 35__     23:05:00              3
8123        Kurla  95423_N 35__     23:13:00              4
8124    Ghatkopar  95423_N 35__     23:18:00              5
8125       Mulund  95423_N 35__     23:30:00              6
8126        Thane  95423_N 35__     23:34:00              7
8127     Dombivli  95423_N 35__     23:50:00              8
8128       Kalyan  95423_N 35__     00:01:00              9
8129       Shahad  95423_N 35__     00:06:00             10
8130      Ambivli  95423_N 35__     00:09:00             11
8131      Titwala  95423_N 35__     00:15:00             12
8132     Khadavli  95423_N 35__     00:22:00             13
8133       Vasind  95423_N 35__     00:29:00             14
8134     Asangaon  95423_N 35__     00:35:00             15
8135       Atgaon  95423_N 35__     00:44:00             16
8136      Thansit  95423_N 35__     00:49:00             17
8137       Khardi  95423_N 35__     00:54:00             18
8138   Umbermalli  95423_N 35__     01:00:00             19
8139       Kasara  95423_N 35__     01:12:00             20